body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.notification{
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: rgb(255,84,56);
    width: 20%;
    aspect-ratio: 3 / 1;
    text-align: center;
    line-height: 60px;
}

.close{
    all: unset;
    width: 32px;
    height: 32px;
}

.close img{
    z-index: 10;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -16px;
    right: -16px;
}